/**
 * ============================================================
 * ************   Cursor   ************
 * ============================================================
 */

.sk-c-hand {
    cursor: pointer;
}

.sk-c-move {
    cursor: move;
}

.sk-c-zoom-in {
    cursor: zoom-in;
}

.sk-c-zoom-out {
    cursor: zoom-out;
}

.sk-c-not-allowed {
    cursor: not-allowed;
}

.sk-c-auto {
    cursor: auto;
}