/**
 * ============================================================
 * ************   Margin   ************
 * ============================================================
 */

/**
 * =================== Margin
 */

.sk-m-0 {
    margin: 0 !important
}

.sk-m-1 {
    margin: 4px !important
}

.sk-m-2 {
    margin: 8px !important
}

.sk-m-3 {
    margin: 12px !important
}

.sk-m-4 {
    margin: 16px !important
}

.sk-m-5 {
    margin: 20px !important
}

.sk-m-6 {
    margin: 24px !important
}

.sk-m-7 {
    margin: 28px !important
}

.sk-m-8 {
    margin: 32px !important
}

/**
 * =================== Margin Top
 */

.sk-mt-0 {
    margin-top: 0 !important
}

.sk-mt-1 {
    margin-top: 4px !important
}

.sk-mt-2 {
    margin-top: 8px !important
}

.sk-mt-3 {
    margin-top: 12px !important
}

.sk-mt-4 {
    margin-top: 16px !important
}

.sk-mt-5 {
    margin-top: 20px !important
}

.sk-mt-6 {
    margin-top: 24px !important
}

.sk-mt-7 {
    margin-top: 28px !important
}

.sk-mt-8 {
    margin-top: 32px !important
}

/**
 * =================== Margin Right
 */

.sk-mr-0 {
    margin-right: 0 !important
}

.sk-mr-1 {
    margin-right: 4px !important
}

.sk-mr-2 {
    margin-right: 8px !important
}

.sk-mr-3 {
    margin-right: 12px !important
}

.sk-mr-4 {
    margin-right: 16px !important
}

.sk-mr-5 {
    margin-right: 20px !important
}

.sk-mr-6 {
    margin-right: 24px !important
}

.sk-mr-7 {
    margin-right: 28px !important
}

.sk-mr-8 {
    margin-right: 32px !important
}

.sk-mb-0 {
    margin-bottom: 0 !important
}

/**
 * =================== Margin Bottom
 */

.sk-mb-1 {
    margin-bottom: 4px !important
}

.sk-mb-2 {
    margin-bottom: 8px !important
}

.sk-mb-3 {
    margin-bottom: 12px !important
}

.sk-mb-4 {
    margin-bottom: 16px !important
}

.sk-mb-5 {
    margin-bottom: 20px !important
}

.sk-mb-6 {
    margin-bottom: 24px !important
}

.sk-mb-7 {
    margin-bottom: 28px !important
}

.sk-mb-8 {
    margin-bottom: 32px !important
}

/**
 * =================== Margin Left
 */

.sk-ml-0 {
    margin-left: 0 !important
}

.sk-ml-1 {
    margin-left: 4px !important
}

.sk-ml-2 {
    margin-left: 8px !important
}

.sk-ml-3 {
    margin-left: 12px !important
}

.sk-ml-4 {
    margin-left: 16px !important
}

.sk-ml-5 {
    margin-left: 20px !important
}

.sk-ml-6 {
    margin-left: 24px !important
}

.sk-ml-7 {
    margin-left: 28px !important
}

.sk-ml-8 {
    margin-left: 32px !important
}