/**
 * ============================================================
 * ************   Position   ************
 * ============================================================
 */

/**
 * =================== Float
 */

.sk-fl {
    float: left !important;
}

.sk-fr {
    float: right !important;
}

.sk-clearfix::after {
    clear: both;
}

.sk-clearfix::after,
.sk-clearfix::before {
    display: table;
    content: " ";
}

/**
 * =================== Position
 */

.sk-relative {
    position: relative !important;
}

.sk-absolute {
    position: absolute !important;
}

.sk-fixed {
    position: fixed !important;
}

/**
 * =================== Center
 */

.sk-center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/**
 * =================== Valign
 */

.sk-valign {
    display: flex !important;
    align-items: center !important;
}
