/**
 * ============================================================
 * ************   Text   ************
 * ============================================================
 */

/**
 * =================== Text Position
 */

.sk-text-left {
    text-align: left !important;
}

.sk-text-right {
    text-align: right !important;
}

.sk-text-center {
    text-align: center !important;
}

/**
 * =================== Text Transform
 */

.sk-text-lowercase {
    text-transform: lowercase !important;
}

.sk-text-uppercase {
    text-transform: uppercase !important;
}

.sk-text-capitalize {
    text-transform: capitalize !important;
}

/**
 * =================== Text Truncate
 */

.sk-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * =================== Text Shape
 */

.sk-text-normal {
    font-weight: normal;
}

.sk-text-bold {
    font-weight: bold;
}

.sk-text-italic {
    font-style: italic;
}

.sk-text-large {
    font-size: 1.2em;
}

.sk-text-small,
small {
    font-size: 0.85em;
    opacity: 0.85;
}

/**
 * =================== Text Link
 */

a.sk-link {
    text-decoration: none;
    cursor: pointer;
}

a.sk-link:hover {
    text-decoration: underline;
}

/**
 * =================== Font Size
 */

.sk-font-12 {
    font-size: 12px;
}

.sk-font-13 {
    font-size: 13px;
}

.sk-font-14 {
    font-size: 14px;
}

.sk-font-15 {
    font-size: 15px;
}

.sk-font-16 {
    font-size: 16px;
}

.sk-font-17 {
    font-size: 17px;
}

.sk-font-18 {
    font-size: 18px;
}

.sk-font-19 {
    font-size: 19px;
}

.sk-font-20 {
    font-size: 20px;
}

.sk-font-21 {
    font-size: 21px;
}

.sk-font-22 {
    font-size: 22px;
}

.sk-font-23 {
    font-size: 23px;
}

.sk-font-24 {
    font-size: 24px;
}

.sk-font-25 {
    font-size: 25px;
}

.sk-font-26 {
    font-size: 26px;
}

.sk-font-27 {
    font-size: 27px;
}

.sk-font-28 {
    font-size: 28px;
}

.sk-font-29 {
    font-size: 29px;
}

.sk-font-30 {
    font-size: 30px;
}