/**
 * ============================================================
 * ************   Text   ************
 * ============================================================
 */

/**
 * =================== Text Position
 */

.sk-text-left {
    text-align: left !important;
}

.sk-text-right {
    text-align: right !important;
}

.sk-text-center {
    text-align: center !important;
}

/**
 * =================== Text Transform
 */

.sk-text-lowercase {
    text-transform: lowercase !important;
}

.sk-text-uppercase {
    text-transform: uppercase !important;
}

.sk-text-capitalize {
    text-transform: capitalize !important;
}

/**
 * =================== Text Truncate
 */

.sk-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * =================== Text Shape
 */

.sk-text-normal {
    font-weight: normal;
}

.sk-text-bold {
    font-weight: bold;
}

.sk-text-italic {
    font-style: italic;
}

.sk-text-large {
    font-size: 1.2em;
}

.sk-text-small,
small {
    font-size: 0.85em;
    opacity: 0.85;
}

/**
 * =================== Text Link
 */

a.sk-link {
    text-decoration: none;
    cursor: pointer;
}

a.sk-link:hover {
    text-decoration: underline;
}