/**
 * ============================================================
 * ************   Visiblity   ************
 * ============================================================
 */

.sk-hidden,
[hidden] {
    display: none !important;
}

.sk-invisible {
    visibility: hidden;
}

.sk-visible {
    visibility: visible;
}

/**
 * =================== Responsive utilities
 */


/* Hide or show on smaller screen */

@media (max-width: 480px) {
    .sk-hide-xs {
        display: none !important;
    }
    .sk-show-xs {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .sk-hide-sm {
        display: none !important;
    }
    .sk-show-sm {
        display: block !important;
    }
}

@media (max-width: 840px) {
    .sk-hide-md {
        display: none !important;
    }
    .sk-show-md {
        display: block !important;
    }
}

@media (max-width: 960px) {
    .sk-hide-lg {
        display: none !important;
    }
    .sk-show-lg {
        display: block !important;
    }
}

@media (max-width: 1280px) {
    .sk-hide-xl {
        display: none !important;
    }
    .sk-show-xl {
        display: block !important;
    }
}